{% extends 'base.html' %}
{% load custom_tags %}


{% block breadcrumb %}
<li class="breadcrumb-item active">Borrower Lists</li>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Invest/UnInvest</th>
        <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    {% if user_data %}
        {% for data in user_data %}
            <tr class="{% cycle 'white' 'grey' %}">
                <th scope="row">{{data.id}}</th>
                <td>{{data.first_name|wordwrap:8}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.email}}</td>
                <td >
                    <a href="javascript:void(0);" class="btn btn-primary changeStatus" data-id="{{data.id}}" style="width: 100%;">
                        {% if user.id|checkStatus:data.id %}
                            Uninvest
                        {% else %}
                            Invest
                        {% endif%}
                    </a>
                </td>
                <td>
                    {{ data.score }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}